.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;

    // input[type="checkbox"] {
    //     display: none;
    // }
}

.nav-menu {
//     background-color: #87B97A;
    display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
    justify-content: space-between;
    width: 70%;
//     height: 100vh;
//     top: 0%;
//     left: 30%;
//     position: fixed;
//     z-index: 3;
//     transition: 0.5s ease translate;
//     translate: 100% 0;

  
}

// &.open {
//     translate: 0 0;
// }

// .nav-link {
//     text-decoration: none;
//     font-size: 30;
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }

// .hamburger-lines {
//     display: block;
//     height: 28px;
//     width: 35px;
//     position: absolute;
//     top: 15px;
//     right: 20px;
//     z-index: 200;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     margin: 0;

//     .line {
//       display: block;
//       height: 4px;
//       width: 100%;
//       border-radius: 10px;
//       background: black;
//     }

//     .line1 {
//         transform-origin: 0% 0%;
//         transition: transform 0.3s ease-in-out;
//       }

//       .line2 {
//         transition: transform 0.2s ease-in-out;
//       }

//       .line3 {
//         transform-origin: 0% 100%;
//         transition: transform 0.3s ease-in-out;
//       }
// }